.react-flow__node {
    width: auto;

    .react-flow__handle {
        min-width: 0.5rem;
        min-height: 0.5rem;
        width: 1rem;
        height: 1rem;

        border-color: var(--handle-color, black);
        background-color: color-mix(in srgb, var(--xy-handle-background-color-default, white), var(--handle-color) 20%);

        .handle-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 0.7rem;
            transform: translate(-50%, -50%);
        }

        .handle-label {
            position: absolute;
            top: 50%;
            left: 100%;
            margin-left: 0.25rem;
            transform: translateY(-50%);

            font-size: 0.7rem;
            line-height: 1em;
        }
    }
}
